<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My index</title>
</head>
<body>
    <header th:insert="fragments/header.html"> </header>
    <div class="container">
        <h1>Este es el index</h1>
        <p th:text="${key}">Ok</p>

        
    <div class = "listado">
        <h3>Ejemplo listado mediante codigo java</h3>
        <tr th:each="user : ${users}">
            <td th:text = "${user}">Name</td>
        </tr>
    </div>

</body>
</html>