<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My index</title>
</head>
<body>
    <div class="container">
        <p>hello</p>
        <p th:text="${key}">Ok</p>

        <form action="/" method="POST" th:object="${formulario}" enctype="multipart/form-data">
            <div class ="form"> 
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*">
                <label for="text"> Select text:</label>
                <input type="text" id="texto" name="texto">
                <input type="submit">
            </div>
          </form>
    </div>
    <div class = "listado">
        <tr th:each="user : ${users}">
            <td th:text = "${user}">Name</td>
        </tr>
    </div>
</body>
</html>